.Signup {
  background-image: url("./assets/Signup.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #000; 
}