body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.warnings-bar {
  background: linear-gradient(to left, #1E293B,#0F172A);
  color: #fff;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}